<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unknowncoder.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodBank"
        tools:ignore="AllowBackup">
        <activity android:name="com.example.bloodbank.Send_Blood_Request"
            android:parentActivityName="com.example.bloodbank.Blood_Donor_profile"
            android:exported="false"
            android:label="Send Mail To Donor"/>
        <activity
            android:name="com.example.bloodbank.BloodRequestsActivity"
            android:label="My Requests"
            android:exported="false"
            android:parentActivityName="com.example.bloodbank.MainActivity" />
        <activity
            android:name="com.example.bloodbank.Send_Mail_To_Donor"
            android:label="Blood Request"
            android:exported="false"
            android:parentActivityName="com.example.bloodbank.MainActivity" />
        <activity
            android:exported="false"
            android:name="com.example.bloodbank.Blood_Donor_profile"/>
        <activity
            android:name="com.example.bloodbank.RegisterActivity"
            android:label="Register Activity"
            android:exported="false"
            android:parentActivityName="com.example.bloodbank.LoginActivity" />
        <activity
            android:name="com.example.bloodbank.About_Us"
            android:exported="false"
            android:parentActivityName="com.example.bloodbank.MainActivity" />
        <activity
            android:name="com.example.bloodbank.Forget_Password"
            android:exported="false"
            android:label="Forget Password Activity"
            android:parentActivityName="com.example.bloodbank.LoginActivity" />
        <activity
            android:name="com.example.bloodbank.LoginActivity"
            android:exported="false"
            android:label="Login Activity" />
        <activity android:name="com.example.bloodbank.MainActivity"
            android:exported="false"/>
        <activity android:name="com.example.bloodbank.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>